<div class="layer1 border1 bradius">
     <div class="cinfo bpad">
        <div class="r1">
            <p class="ph">Point history</p> 
            <div class="yp text2">
                <div class="ypdot"></div>
                <p>Your points</p>
            </div> 
            <div class="ap text2">
                <div class="apdot"></div>
                <p>Avgerage points</p>
            </div>
        </div>

        <div class="r2">
            <div class="pdiv"><p class="points">30</p><p class="info text2">Total points</p></div>
            <div class="pdiv"><p class="points">5</p><p class="info text2">Avg. point per GW</p></div>
        </div>
     </div>

    <div class="chart-container">
        <canvas id="MyChart"></canvas>
    </div>
</div>