<nav class="navbar layer1 border1">
    <div class="navbar-logo">Fantasy</div>
    <ul class="navbar-links">
        <li class="border1"><i 
            routerLink="/" 
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }"
            class="material-icons-outlined">
                dashboard</i></li>
        
        <li class="border1"><i 
            routerLink="/myteam" 
            routerLinkActive="active-link"
            class="material-icons-outlined">
                groups</i></li>

        <li class="border1"><i 
            routerLink="/myteam" 
            routerLinkActive="active-link"
            class="material-icons-outlined">
            star</i></li>
       
        <li class="border1"><i 
            routerLink="/leagues" 
            routerLinkActive="active-link"
            class="material-icons-outlined">list</i></li>

        <li class="border1"><i 
            routerLink="/transfers" 
            routerLinkActive="active-link"
            class="material-icons-outlined">compare_arrows</i></li>

        <li class="border1"><i 
            routerLink="/transfers" 
            routerLinkActive="active-link"
            class="material-icons-outlined">sports_soccer</i></li>
    </ul>
</nav>
  