<div class="layer1 border1 bradius bpad deadline-container">
    <div class="p"><p>Gameweek 3's Deadline</p></div>
    <div class="ctimer">
        <div class="d">
            <div class="ct">{{ days }}</div>
            <div class="st text2">Days</div>
        </div>
        <span class="ct">:</span>
        <div class="h">
            <div class="ct">{{hours}}</div>
            <div class="st text2">Hours</div>
        </div>
        <span class="ct">:</span>
        <div class="m">
            <div class="ct">{{minutes}}</div>
            <div class="st text2">Minutes</div>
        </div>
        <span class="ct">:</span>
        <div class="s">
            <div class="ct">{{seconds}}</div>
            <div class="st text2">Seconds</div>
        </div>
    </div>
    <div>
        <div class="dtime">
            <p class="std text2">Until</p>
            <p>Saturday, 20 October 2022, 11:30:00</p>
        </div>
        <div class="loc text2">
            <p>(London, England)</p>
        </div>
    </div>
</div>